# virtual environments & clean up
fluxnet_bench_venv/*
*pycache*
.DS_Store

# big folders
data/*
!data/sites_with_2018.csv
data_cleaned/*
results/*
!results/plots/
results/plots/*
!results/plots/Qle_rmse_daily_cdf.png
!results/plots/medals_Qle.html
tests/QuickEval/data/*
tests/QuickEval/results/*
paper_experiments/plots/*

# other projects
maxRM-RF-fluxnet*
archive*
paper_experiments/.Rhistory
