# virtual environments & clean up
fluxnet_bench_venv/*
*pycache*
.DS_Store

# big folders
data/*
!data/sites_with_2018.csv
data_cleaned/*
results/*
!results/plots/
results/plots/*
!results/plots/Qle_rmse_daily_cdf.png
!results/plots/medals_Qle.html
tests/QuickEval/data/*
tests/QuickEval/results/*
paper_experiments/plots/*
paper_experiments/refs/*
paper_experiments/distribution_distances/cache/*
paper_experiments/distribution_distances/plots/*
paper_experiments/refs/*paper_experiments/distribution_distances/all_fluxes.txt
paper_experiments/distribution_distances/GPP.txt
paper_experiments/distribution_distances/ET.txt
paper_experiments/distribution_distances/NEE.txt

# other projects
maxRM-RF-fluxnet*
archive*
paper_experiments/.Rhistory
