# virtual environments & clean up
fluxnet_bench_venv/*
*pycache*
.DS_Store

# big folders
data/*
data_cleaned/*
results/*
tests/QuickEval/data/*
tests/QuickEval/results/*

# other projects
maxRM-RF-fluxnet*
archive*